.jumbotron
  .container
    .row
      .col-md-6
        .video-container
          youtube-video(ng-if="video.player == 'youtube'" video-id="video.video_id")
          vimeo-video(ng-if="video.player == 'vimeo'" video-id="video.video_id" player-id="video.video_id")
      .col-md-6
        h1 Tricker
        p スノーボードのグラトリやキッカーの動画をトリックごとに探せるまとめサイト。
        p
          a.btn.btn-primary.btn-lg(href="#" role="button") Learn more &raquo;

.container
  .row(ng-repeat="c1 in tricks")
    .col-md-12(ng-if="!c1.children")
      h5 {{c1.name_ja}}
      p {{c1.description}}
    .col-md-12(ng-if="c1.children")
      h2.page-header {{c1.name_ja}}
      div(ng-repeat="c2 in c1.children")
        .col-md-12(ng-if="!c2.children")
          h5 {{c2.name_ja}}
          p {{c2.description}}
        .col-md-12(ng-if="c2.children")
          h3.page-header {{c2.name_ja}}
          div(ng-repeat="c3 in c2.children")
            .col-md-12(ng-if="c3.children")
              h4.page-header {{c3.name_ja}}
            .col-md-12(ng-if="!c3.children")
              h5 {{c3.name_ja}}
              p {{c3.description}}

  .row
    .col-md-4
      h2 オーリー
      p
        a.btn.btn-default(href="/videos?trick=ollie" role="button") オーリーの動画を見る &raquo;
    .col-md-4
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href="#" role="button") View details &raquo;
    .col-md-4
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href="#" role="button") View details &raquo;
  .row
    .col-md-4
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href="#" role="button") View details &raquo;
    .col-md-4
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href="#" role="button") View details &raquo;
    .col-md-4
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href="#" role="button") View details &raquo;
  .row
    .col-md-4
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href="#" role="button") View details &raquo;
    .col-md-4
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href="#" role="button") View details &raquo;
    .col-md-4
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href="#" role="button") View details &raquo;
