.container
  .row
    .col-md-12
      h2 シフティ
  hr
  .row(ng-repeat="row in rows")
    .col-md-4(ng-repeat="video in row")
      .video-container
        youtube-video(video-id="video.video_id")
      h4 {{video.title}}
