.container
  .row
    .col-md-12
      .page-header
        h3
          strong {{trickName}}
          |  の動画

  .row(ng-repeat="row in rows")
    .col-md-4(ng-repeat="video in row")
      .thumbnail
        .video-container
          youtube-video(ng-if="video.player == 'youtube'" video-id="video.video_id")
          vimeo-video(ng-if="video.player == 'vimeo'" video-id="video.video_id" player-id="video.video_id")
        .caption
          h5 {{video.title}}

  .row
    .col-md-12
      nav
        ul.pager
          li.previous
            a(ng-show="prev" href="" ng-click="retrieveVideos(prev)") Previous
          li.next
            a(ng-show="next" href="" ng-click="retrieveVideos(next)") Next
