doctype html
html(ng-app="trickerApp")
  head
    meta(charset="utf8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    base(href="/")

    title Tricker

    link(rel='stylesheet', href='/css/lib/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block content